<html>
    <head>
        <title>app-homepage</title>
        <link rel="stylesheet" href="homepage.component.css">

    </head>

<body>
 
    <div class="text-center">
      <br>
        <h5>Welcome to the Client Management Application</h5>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Add A New Client</h5>
                  <p class="card-text">Please click on the below link to add details of a new client.</p>
                  
                  <a routerLink="/addnewclient" class="btn btn-secondary btn-rounded mt-4">Create client</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Schedule A Meet</h5>
                  <p class="card-text">Please click on the below link to Schedule a Meet.</p>
                  <a routerLink="/schedulemeet" class="btn btn-secondary btn-rounded mt-4">Schedule Meet</a>
                  
                </div>
              </div>
            </div>
          </div>
      </div>
</body>
</html>